<div class="formdiv">
<form action="" class="formclass" #logInForm="ngForm">
        <div class="form-group">
            <input  hopEmailvaildator hopHover="white" #emailField="ngModel"  type="email" class="form-control" name="emailId" [(ngModel)]="email" required  pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" id="email" placeholder="Provide Your Email">
        </div> <br>
        <!-- {{emailControl.errors|json}} <br> -->
        <div class="form-group" *ngIf="!emailField?.['pristine']||emailField?.['touched']&&emailField.errors">
            <span class="alert alert-danger" *ngIf="emailField.errors?.['required']">Email is required</span>
            <span class="alert alert-danger" *ngIf="emailField.errors?.['pattern']">Enter valid email</span>
            <span class="alert alert-danger" *ngIf="emailField.errors?.['invalidEmail']"> Test Not Allowed</span>
        </div> <br>
         
        <div class="form-group">
            <input hopHover="white" type="password" class="form-control" name="password" [(ngModel)]="password" id="password" placeholder="Provide Your Password">
        </div> <br>
        <div class="form-group" id="btn">
            <button [disabled]="logInForm.invalid" class="btn btn-primary" (click)="login()">LogIn</button>
        </div>
    </form>
</div>

