<!-- <hop-rooms></hop-rooms> -->
<!-- <hop-container>
    <hop-rooms></hop-rooms>
    <hop-empoyee></hop-empoyee>
    <h1>This is ng-content</h1>
</hop-container> -->

<!-- <div #name>

</div> -->
<!-- <div>
    <ng-template #user>#user=knows as template refrence-->
<!--                       
    </ng-template>
</div>
<hop-user-info></hop-user-info>
<!-- *ngSwitch Directive
<div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome User
    </div>
    <div *ngSwitchCase="'Admin'">
        <hop-rooms></hop-rooms>
    </div>
    <div *ngSwitchDefault style="color:red">
        You are not authorized to view this page !
    </div>
</div> -->
<!-- <a [href]="'room'"></a>  dont use href becoz it will redirect to new page which violate SPA rule-->

<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<hop-app-nav></hop-app-nav>
